@page "/"
@inject BeerSearchService SearchService

@if(_beers == null)
{ 
    <h5>Search for beer using the Punk API</h5>
    <hr />
    <p>Type in a search string in the box above and click Search Beer.</p>
}
else 
{
    <BeerList Beers="@_beers" />
}
<!-- Comment tag here to enable syntax highlighting of code block below.
     Bug in vscode?
-->

@code 
{
    private Beer[] _beers = null;

    protected override void OnInitialized()
    {
        SearchService.SearchCompleted += (beers) =>
        {
            _beers = beers;
            StateHasChanged();
        };
    }
}