@inject IModalService ModalService

<img src=@Beer.image_url>
<ul>
    <li>@Beer.tagline</li>
    <li>@Beer.description</li>
    <li>BV: @Beer.bv</li>
    <li>IBU: @Beer.ibu</li>
</ul>


@code 
{
    [CascadingParameter] 
    BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public Beer Beer {get; set;}
    
    public void Close()
    {
        BlazoredModal.Close(ModalResult.Ok<Beer>(Beer));
    }

}