@inject IModalService ModalService


@if (Beers.Length == 0)
{
    <p>Sorry, didn't find any beers.</p>
}
else
{
    <div id="beerDetails" class="flex-container row">
    @foreach (Beer beer in Beers)
    {
        <div class="beer flex-item" @onclick="@(() => ShowBeerDetails(beer.Id))">
            <p>@beer.Name</p>
            <div class="beerLabel">
                <img src="@beer.image_url" alt="Picture of beer called @beer.Name" />
            </div>
        </div>
    }
    </div>
}

@code 
{
    [Parameter]
    public Beer[] Beers { get; set; }

    private void ShowBeerDetails(int id) 
    {
        ModalParameters parameters = new ModalParameters();
        Beer beer = Beers.First(s => s.Id == id);
        parameters.Add(nameof(Beer), beer);
        ModalService.Show<BeerDetails>(beer.Name, parameters);
    }
}
