@inject IModalService ModalService


@if (Beers.Length == 0)
{
    <p>Sorry, didn't find any beers.</p>
}
else
{
    @foreach (Beer beer in Beers)
    {
        <!--TODO: Style this -->
        <div id="beerDetails">
            <div class="beer">
                <p>@beer.Name</p>
                <div class="beerLabel">
                    <img src="@beer.Img" alt="Picture of label of the beer called @beer.Name" height="100px" width="100px" />
                </div>
                <button @onlick="ShowBeerDetails(beer.Id)">Show Details</button>
            </div>
        </div>
    }
}

@code 
{
    [Parameter]
    public Beer[] Beers { get; set; }

    private void ShowBeerDetails(int id) 
    {
        ModalParameters parameters = new ModalParameters();
        Beer beer = Beers.First(s => s.Id == id);
        parameters.Add(nameof(Beer), beer);
        ModalService.Show<BeerDetails>(beer.Name, parameters);
    }
}
