@inject IModalService ModalService

<img src={Beer.Img}>
<ul>
    <li>Test Beer Detail List Item</li>
    <li>Another Detail Item</li>
</ul>


@code 
{
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter]
    public Beer Beer {get; set;}
    
    public void Close()
    {
        BlazoredModal.Close(ModalResult.Ok<Beer>(Beer));
    }

}