<div class="flex-fill px-2 py-2" style="background-color:#272727;">
    <p style="color:#EFF1F3">Number of calls left: @numCallsLeft</p>
    <p style="color:#EFF1F3">Number of API calls/day: @numCalls</p>
</div>

@code 
{
    private int numCallsLeft = 0;
    private int numCalls = 0;

    // TODO: Subscribe to SearchCompletedEvent from BeerSearchService 
    //       and update ints above
}