<!-- https://www.telerik.com/blogs/creating-a-reusable-javascript-free-blazor-modal -->
<div>
    <h5>@Title</h5>
    <div>
        @HTMLContent
    </div>
</div>



@code 
{
    [Parameter]
    public string Title {get; set;}

    [Parameter]
    public string HTMLContent {get; set;}
}